#__nuxt {
	min-height: 100vh;
}
#__layout {
	min-height: 100vh;
}

body {
	margin: 0;
	font-family: Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.container {
	max-width: 1284px;
	padding: 0 32px;
}